*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: mediumvioletred;
    align-items: center;
    height: 5vh;
}

.texto{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

#texto-header{
    margin: 0 0 0 15px;
}

header button{
    margin-right: 15px;
}

main {
    display: flex;
}

.menu{
    display: flex;
    flex-direction: column;
    width: 35vw;
    background-color: #f2d0e0;
}

.menu-lateral {
    display: flex;
    justify-content: space-between;
    margin: 10px 5px;
}

.icone-e-p{
    display: flex;
}

.icone-e-p p{
    margin-left: 15px;
}

#img-main{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 30px 0 30px 15px;
}

.img-filho{
    flex-basis: 24%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 1px darkgrey;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    background-color: mediumvioletred;
}