@media (prefers-color-scheme: dark) {
    body {background-color: rgb(9, 8, 33);}
    p,h1,h2,h3,h4,h5{color: white}
  }

  input:focus ~ span {
    transform: translate(-50%, 0) scaleX(1);
    opacity: 1;
  }

  *{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  